#hasil {
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5vh 0px;
  min-height: 100vh;
}
#hasil .container {
  height: fit-content;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 20px 20px;
}
#hasil .container .row {
  height: fit-content;
  font-family: "Inter";
}
#hasil .container .row h3 {
  color: #ced4d7;
  margin: 0;
  font-weight: 800;
  font-size: 50px;
}
#hasil .container .row p {
  color: #ced4d7;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 300;
}
#hasil .container #judull {
  height: 80vh;
}
#hasil .container #isi {
  height: 70vh;
  padding: 30px 25px;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
}
#hasil .container #isi h2 {
  width: 90%;
  font-family: "Inter";
  font-weight: 200;
  color: #ced4d7;
  font-size: 40px;
}
#hasil .container .content {
  position: absolute;
  bottom: 20px;
  right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#hasil .container .content h6 {
  font-size: 50px;
  letter-spacing: 0.3em;
  font-weight: 300;
}
#hasil .container .content p {
  font-size: 30px;
  color: #555555;
  font-weight: 300;
}
#hasil .container #isi .col-md-4 {
  height: 100%;
}
#hasil .container #isi .col-md-5 {
  height: 100%;
}
#hasil .container #isi .col-md-3 {
  display: flex;
  height: 100%;
  margin: 0;
}
#hasil .container #isi .col-md-3 img {
  height: 100%;
}
.bmi-container {
  color: #fff;
  height: 100%;
  font-family: Arial, sans-serif;
}
.bmi-container ul {
  width: 95%;
  color: #ced4d7;
  font-size: 12px;
}

.bmi-display {
  font-size: 24px;
  height: 30%;
  width: 100%;
}

#bmi-value {
  font-size: 48px;
  font-weight: bold;
  font-size: 50px;
  font-weight: 400;
  color: #ced4d7;
}

#bmi-status {
  font-size: 18px;
  color: #ffffff;
  padding: 7px 20px;
  border-radius: 10px;
}

input[type="range"] {
  width: 100%;
  appearance: none;
  border-radius: 30px;
  background: linear-gradient(
    to right,
    #b3d5f0,
    #8ee0e0,
    #acddb6,
    #e7ca85,
    #e27e8d
  );
  height: 30px;
  outline: none;
}
input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  height: 10px;
  border-radius: 50%;
  width: 10px;
  background: #ced4d7;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}
footer {
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .retangle {
    background-color: #252525;
    height: 500px;
    width: 500px;
    position: absolute;
    z-index: -1;
  }
  .retangle:nth-child(3) {
    rotate: 135deg;
    top: -14%;
    left: -5%;
  }
  .retangle:nth-child(4) {
    rotate: 190deg;
    bottom: -14%;
    right: 1%;
  }
  .round {
    background-color: #222222;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
  }

  .round:nth-child(1) {
    bottom: -35%;
    right: 25%;
  }
  .round:nth-child(2) {
    top: -14%;
    left: 14%;
  }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  @import url("https://fonts.googleapis.com/css2?family=Della+Respira&family=Italiana&family=Lora:ital,wght@0,400..700;1,400..700&family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yeseva+One&display=swap");

  * {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
  }

  /* Untuk Webkit Browsers */
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background-color: black;
    background: rgb(67, 66, 66);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(31.6px);
    -webkit-backdrop-filter: blur(11.6px);
  }

  ::-webkit-scrollbar-thumb {
    background-color: #777777;
    border-radius: 2px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #ced4d7;
  }

  /* Untuk Firefox Browsers */
  ::-moz-scrollbar {
    width: 10px;
  }

  ::-moz-scrollbar-track {
    background-color: black;
  }

  ::-moz-scrollbar-thumb {
    background-color: #777777;
    border-radius: 5px;
  }

  ::-moz-scrollbar-thumb:hover {
    background-color: #ced4d7;
  }

  body {
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    background-color: #292929;
  }
  a {
    text-decoration: none;
  }

  .texture {
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: -1;
    overflow: hidden;
  }

  .retangle {
    background-color: #252525;
    height: 300px;
    width: 300px;
    position: absolute;
    z-index: -1;
  }
  .retangle:nth-child(3) {
    rotate: 135deg;
    top: -14%;
    left: -5%;
  }
  .retangle:nth-child(4) {
    rotate: 190deg;
    bottom: -5%;
    right: -40%;
  }
  .round {
    background-color: #222222;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
  }

  .round:nth-child(1) {
    bottom: -10%;
    left: -25%;
  }
  .round:nth-child(2) {
    top: -14%;
    left: 14%;
  }

  #home {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  #home .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  #home .container h1 {
    color: #ced4d7;
    font-family: "Inter";
    font-weight: 800;
    font-size: 50px;
  }
  #home .container h1 span {
    font-family: "Della Respira";
    font-weight: 800;
    font-size: 50px;
    color: #f8debd;
  }
  #home .container .shadow1 {
    padding: 20px;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.02);
    border-radius: 10px;
  }
  #home .container .shadow2 {
    padding: 20px;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.02);
    border-radius: 10px;
  }
  #home .container form {
    padding: 30px;
    display: flex;
    height: fit-content;
    margin: 0;
    background-color: #efefef;
    border-radius: 10px;
  }
  #home .container form input {
    height: fit-content;
    padding: 8px 0px 8px 20px;
    border-radius: 5px;
  }
  .plus {
    display: inline-block;
    animation: puter 12s infinite linear;
  }
  .bounch {
    display: inline-block;
    animation: bounce 4s ease-in-out;
    animation-delay: 4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
  }

  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    20% {
      transform: translateY(-20px);
    }
    30% {
      transform: translateY(0px);
    }
    40% {
      transform: translateY(-10px);
    }
    50% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(0);
    }
    150% {
      transform: translateY(0);
    }
  }

  @keyframes puter {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(90deg);
    }
    50% {
      transform: rotate(180deg);
    }
    75% {
      transform: rotate(270deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  #hasil {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5vh 0px;
    min-height: 100vh;
  }
  #hasil .container {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px 20px;
  }
  #hasil .container .row {
    height: fit-content;
    font-family: "Inter";
  }
  #hasil .container #isi {
    height: fit-content;
    display: flex;
    padding: 20px 15px;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
  }
  #hasil .container #isi .col-md-4 {
    width: 42.5%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40vh;
    align-items: start;
    gap: 10px;
  }
  #hasil .container #isi .col-md-4 .card {
    height: 47.5%;
  }
  #hasil .container #isi .col-md-4 .card .card-title {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 25px;
  }
  #hasil .container #isi .col-md-5 {
    width: 52.5%;
    padding: 0;
    height: 40vh;
  }
  #hasil .container #isi .col-md-5 .card {
    height: 100%;
  }
  #hasil .container #isi .col-md-5 h2 {
    font-size: 15px;
  }
  #hasil .container #isi .col-md-5 h6 {
    font-size: 10px;
  }
  #hasil .container #isi .col-md-3 {
    padding: 0;
    width: 100%;
    height: 40vh;
    display: none;
  }
  #hasil .container #isi .col-md-3 img {
    height: 100%;
    display: none;
  }
  #hasil .container .row h3 {
    color: #ced4d7;
    margin: 0;
    font-weight: 800;
    font-size: 40px;
  }
  #hasil .container .row p {
    color: #ced4d7;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 300;
    font-size: 12px;
  }
  .bmi-container {
    color: #fff;
    font-family: Arial, sans-serif;
    height: 100%;
  }

  .bmi-display {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 50%;
  }
  .bmi-container ul {
    width: 95%;
    color: #ced4d7;
    font-size: 8px;
  }

  #bmi-value {
    font-size: 25px;
    font-weight: bold;
  }

  #bmi-status {
    font-size: 12px;
    color: #ffffff;
    padding: 2px 10px;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    text-align: center;
  }
  input[type="range"] {
    width: 100%;
    appearance: none;
    border-radius: 30px;
    background: linear-gradient(
      to right,
      #b3d5f0,
      #8ee0e0,
      #acddb6,
      #e7ca85,
      #e27e8d
    );
    height: 15px;
    outline: none;
  }
  input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    height: 10px;
    border-radius: 50%;
    width: 10px;
    background: #ced4d7;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  }

  #hasil .container #judull {
    height: 30vh;
  }
  #hasil .container .content {
    position: relative;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #hasil .container .content h6 {
    font-size: 15px;
    letter-spacing: 0.3em;
    font-weight: 300;
  }
  #hasil .container .content p {
    font-size: 20px;
    color: #555555;
    font-weight: 300;
  }
  footer {
    display: flex;
  }
}
@media screen and (max-width: 480px) {
  @import url("https://fonts.googleapis.com/css2?family=Della+Respira&family=Italiana&family=Lora:ital,wght@0,400..700;1,400..700&family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yeseva+One&display=swap");

  * {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
  }

  /* Untuk Webkit Browsers */
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background-color: black;
    background: rgb(67, 66, 66);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(31.6px);
    -webkit-backdrop-filter: blur(11.6px);
  }

  ::-webkit-scrollbar-thumb {
    background-color: #777777;
    border-radius: 2px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #ced4d7;
  }

  /* Untuk Firefox Browsers */
  ::-moz-scrollbar {
    width: 10px;
  }

  ::-moz-scrollbar-track {
    background-color: black;
  }

  ::-moz-scrollbar-thumb {
    background-color: #777777;
    border-radius: 5px;
  }

  ::-moz-scrollbar-thumb:hover {
    background-color: #ced4d7;
  }

  body {
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    background-color: #292929;
  }
  a {
    text-decoration: none;
  }

  .texture {
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: -1;
    overflow: hidden;
  }

  .retangle {
    background-color: #252525;
    height: 300px;
    width: 300px;
    position: absolute;
    z-index: -1;
  }
  .retangle:nth-child(3) {
    rotate: 135deg;
    top: -14%;
    left: -5%;
  }
  .retangle:nth-child(4) {
    rotate: 190deg;
    bottom: -5%;
    right: -40%;
  }
  .round {
    background-color: #222222;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
  }

  .round:nth-child(1) {
    bottom: -10%;
    left: -25%;
  }
  .round:nth-child(2) {
    top: -14%;
    left: 14%;
  }

  #home {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  #home .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  #home .container h1 {
    color: #ced4d7;
    font-family: "Inter";
    font-weight: 800;
    font-size: 50px;
  }
  #home .container h1 span {
    font-family: "Della Respira";
    font-weight: 800;
    font-size: 50px;
    color: #f8debd;
  }
  #home .container .shadow1 {
    padding: 20px;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.02);
    border-radius: 10px;
  }
  #home .container .shadow2 {
    padding: 20px;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.02);
    border-radius: 10px;
  }
  #home .container form {
    padding: 30px;
    display: flex;
    height: fit-content;
    margin: 0;
    background-color: #efefef;
    border-radius: 10px;
  }
  #home .container form input {
    height: fit-content;
    padding: 8px 0px 8px 20px;
    border-radius: 5px;
  }
  .plus {
    display: inline-block;
    animation: puter 12s infinite linear;
  }
  .bounch {
    display: inline-block;
    animation: bounce 4s ease-in-out;
    animation-delay: 4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
  }

  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    20% {
      transform: translateY(-20px);
    }
    30% {
      transform: translateY(0px);
    }
    40% {
      transform: translateY(-10px);
    }
    50% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(0);
    }
    150% {
      transform: translateY(0);
    }
  }

  @keyframes puter {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(90deg);
    }
    50% {
      transform: rotate(180deg);
    }
    75% {
      transform: rotate(270deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  #hasil {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5vh 0px;
    min-height: 100vh;
  }
  #hasil .container {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px 20px;
  }
  #hasil .container .row {
    height: fit-content;
    font-family: "Inter";
  }
  #hasil .container #isi {
    height: fit-content;
    display: flex;
    padding: 20px 15px;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
  }
  #hasil .container #isi .col-md-4 {
    width: 42.5%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40vh;
    align-items: start;
    gap: 10px;
  }
  #hasil .container #isi .col-md-4 .card {
    height: 47.5%;
  }
  #hasil .container #isi .col-md-4 .card .card-title {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 25px;
  }
  #hasil .container #isi .col-md-5 {
    width: 52.5%;
    padding: 0;
    height: 40vh;
  }
  #hasil .container #isi .col-md-5 .card {
    height: 100%;
  }
  #hasil .container #isi .col-md-5 h2 {
    font-size: 15px;
  }
  #hasil .container #isi .col-md-5 h6 {
    font-size: 10px;
  }
  #hasil .container #isi .col-md-3 {
    padding: 0;
    width: 100%;
    height: 40vh;
    display: none;
  }
  #hasil .container #isi .col-md-3 img {
    height: 100%;
    display: none;
  }
  #hasil .container .row h3 {
    color: #ced4d7;
    margin: 0;
    font-weight: 800;
    font-size: 40px;
  }
  #hasil .container .row p {
    color: #ced4d7;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 300;
    font-size: 12px;
  }
  .bmi-container {
    color: #fff;
    font-family: Arial, sans-serif;
    height: 100%;
  }

  .bmi-display {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 50%;
  }
  .bmi-container ul {
    width: 95%;
    color: #ced4d7;
    font-size: 8px;
  }

  #bmi-value {
    font-size: 25px;
    font-weight: bold;
  }

  #bmi-status {
    font-size: 12px;
    color: #ffffff;
    padding: 2px 10px;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    text-align: center;
  }
  input[type="range"] {
    width: 100%;
    appearance: none;
    border-radius: 30px;
    background: linear-gradient(
      to right,
      #b3d5f0,
      #8ee0e0,
      #acddb6,
      #e7ca85,
      #e27e8d
    );
    height: 15px;
    outline: none;
  }
  input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    height: 10px;
    border-radius: 50%;
    width: 10px;
    background: #ced4d7;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  }

  #hasil .container #judull {
    height: 30vh;
  }
  #hasil .container .content {
    position: relative;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #hasil .container .content h6 {
    font-size: 15px;
    letter-spacing: 0.3em;
    font-weight: 300;
  }
  #hasil .container .content p {
    font-size: 20px;
    color: #555555;
    font-weight: 300;
  }
  footer {
    display: flex;
  }
}
